.country__item {
  font-size: 28px;
}

body {
  position: relative;
}

.pnotify {
  position: absolute;
  right: 50% !important;
  top: 25px !important;
  transform: translateX(-50%);
}

.list-none {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.country__name {
  text-align: center;
  font-size: 36px;
}

.country__content {
  display: flex;
}

.item {
  font-weight: 700;
}

.descr {
  margin-right: 30px;
  width: 350px;
}

.country {
  height: 45px;
  border-radius: 3px;
  border-color: #ccc;
  outline: none;
}




